body {background-color: black;}

h1 { 
    /*position: relative;*/
    text-align: center;
    top: 100px;
    color: whitesmoke ;
    font-size: 150px;}

#parentFrame{
    visibility: hidden;}
    
#nameTag {
  text-align: center;
  top: 800px;
  color: whitesmoke;
  font-size: 30px;} 

#frame {
  position: absolute;
  top: 50px;
  margin-top: -50px; 
  left: 50%; 
  margin-left: -200px;
  width: 400px;
  height: 700px;
  border: 50px solid black;
  background: white ; 
  padding: 15px 25px;}
    
img {
  width: 100%;
  height: 100%;}



div.infotop{
      overflow: scroll;
      position: absolute;
      top: 50%;
      margin-top: -300px;
      left: 100px;
      background-color: black;
      color: white;
      width: 450px;
      height: 600px;
      }

div.infobot{
      overflow: scroll;
      position: absolute;
      top: 50%;
      margin-top: -300px;
      right: 100px;
      background-color: black;
      color: white;
      width: 450px;
      height: 600px;}

      .hidden{
        float: left;
        margin: 30px;
        
        }
  
    .TopInfoPic{
      position: absolute;
      margin: 30px;
      left: 0px;}

    .BotInfoPic{ 
      position: absolute;
      margin: 30px;
      top: 80px;
      left: 0px;
      }

